body {
    font-family: Helvetica;
}

.todo {
    display: flex;
    padding: 5px;
}

.todo.is-done > .todo-title {
    text-decoration: line-through;
}

.todo-title {
    flex-grow: 1;
}

.checkbox {
    margin-right: 10px;
}

hr {
    border: 0;
    border-top: 1px solid #999999;
    margin: 10px 0;
}