body {
    font-family: Helvetica;
}

.todo {
    display: flex;
    padding: 5px;
}

.todo.is-done {
    text-decoration: line-through;
}

.todo-title {
    flex-grow: 1;
}

.checkbox {
    margin-right: 10px;
}